tower {
    accessToken = "eyJ0aWQiOiA4NjIxfS5jYTE4NDUwOGVmYThjNWJhNmYwYWE5NWEyOGM4ZTI1MTdjNDI3YWRm"
}


//Edit this to specify your input/output files

params {
    busco_lineage = "actinopterygii_odb10"
    lineage_folder = "$MYSCRATCH/mb_downloads"

	samplePaths = [
        'OG1':"/scratch/pawsey0812/pmisiun/assemblies/OG1/*.fasta",
        'OG2':"/scratch/pawsey0812/pmisiun/assemblies/OG2/*.fasta",
        'OG8':"/scratch/pawsey0812/pmisiun/assemblies/OG8/*.fasta",
        'OG10':"/scratch/pawsey0812/pmisiun/assemblies/OG10/*.fasta",
        'OG12':"/scratch/pawsey0812/pmisiun/assemblies/OG12/*.fasta",
        'OG13':"/scratch/pawsey0812/pmisiun/assemblies/OG13/*.fasta",
        'OG14':"/scratch/pawsey0812/pmisiun/assemblies/OG14/*.fasta",
        'OG15':"/scratch/pawsey0812/pmisiun/assemblies/OG15/*.fasta",
        'OG88':"/scratch/pawsey0812/pmisiun/assemblies/OG88/*.fasta",
        'OG95':"/scratch/pawsey0812/pmisiun/assemblies/OG95/*.fasta",
	]

    sampleBuscoPaths = [
    ]

    busco_out = "/scratch/pawsey0812/pmisiun/nf_busco"
    buscomp_out = "/scratch/pawsey0812/pmisiun/nf_buscomp"
    parse_genes_out = "/scratch/pawsey0812/pmisiun/nf_parsed_genes"
    mafft_out = "/scratch/pawsey0812/pmisiun/nf_mafft"
    iqtree_out = "/scratch/pawsey0812/pmisiun/nf_iqtree"
    astral_out = "/scratch/pawsey0812/pmisiun/nf_astral"
}



process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params.slurm_account = 'pawsey0812'

process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'work'
    cpus = 1
    time = '1h'

    withName: BUSCO {
        cpus = 32
        time = '8h'
        container = 'docker://quay.io/biocontainers/busco:5.5.0--pyhdfd78af_0'
    }

    withName: COMPLEASM {
        cpus = 32
        time = '8h'
        container = 'docker://huangnengcsu/compleasm:v0.2.5'
    }


    withName: PARSE_TABLE {
        cpus = 1
        container = 'docker://pavmis/bioconda:latest'
    }


    withName: BUSCOMP {
        cpus = 1
        container = 'docker://pavmis/buscomp:latest'
    }


    withName: PARSE_GENES {
        cpus = 1
        container = 'docker://quay.io/biocontainers/biopython:1.81'
    }

    withName: MAFFT {
        cpus = 1
        container = 'docker://quay.io/biocontainers/mafft:7.515--hec16e2b_0'
    }

    withName: IQTREE2 {
        cpus = 1
        container = 'docker://quay.io/staphb/iqtree2:2.2.2.6'
    }

    withName: ASTRAL {
        cpus = 32
        container = 'docker://quay.io/biocontainers/astral-tree:5.7.8--hdfd78af_0'
    }

    withName: IQTREE2_CONCAT_CONSENSUS {
        cpus = 128
        container = 'docker://quay.io/staphb/iqtree2:2.2.2.6'
    }

    withName: IQTREE2_COALESCENT_CONSENSUS {
        cpus = 128
        container = 'docker://quay.io/staphb/iqtree2:2.2.2.6'
    }
}

executor {
      $slurm {
        queueSize = 1000
    }
}

