process {
	withName:BUSCO {
		container = 'wgs2tree/containers/busco:5.5.0.sif'
	}
	withName:BUSCOMP {
		container = 'wgs2tree/containers/buscomp.sif'
	}
	withName:PARSE_GENES {
        container = 'wgs2tree/containers/biopython:1.81.sif'
    }
    withName:MAFFT {
        container = 'wgs2tree/containers/mafft:7.515.sif'
    }
    withName:IQTREE2 {
        container = 'wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }
	withName:ASTRAL {
        container = 'wgs2tree/containers/astral:5.7.8.sif'
    }
}
singularity {
    enabled = true
}

params {
    busco_lineage = "vertebrata_odb10"

	samplePaths = [
        'OG88':"/scratch/pawsey0812/pmisiun/assemblies/OG88/*.fasta",
        'OG95':"/scratch/pawsey0812/pmisiun/assemblies/OG95/*.fasta",
        'OG5':"/scratch/pawsey0812/pmisiun/assemblies/OG5/*.fasta",
        'OG10':"/scratch/pawsey0812/pmisiun/assemblies/OG10/*.fasta",

	]

    sampleBuscoPaths = [
        'OG88':"/scratch/pawsey0812/pmisiun/busco/OG88/run_*",
        'OG95':"/scratch/pawsey0812/pmisiun/busco/OG95/run_*",
        'OG5':"/scratch/pawsey0812/pmisiun/busco/OG5/run_*",
        'OG10':"/scratch/pawsey0812/pmisiun/busco/OG10/run_*"
    ]
}