process {
	withName:BUSCO {
		container = 'wgs2tree/containers/busco:5.5.0.sif'
	}
	withName:BUSCOMP {
		container = 'wgs2tree/containers/buscomp.sif'
	}
	withName:PARSE_GENES {
        container = 'wgs2tree/containers/biopython:1.81.sif'
    }
    withName:MAFFT {
        container = 'wgs2tree/containers/mafft:7.515.sif'
    }
    withName:IQTREE2 {
        container = 'wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }
	withName:ASTRAL {
        container = 'wgs2tree/containers/astral:5.7.8.sif'
    }
}
singularity {
    enabled = true
}

params {
    busco_lineage = "vertebrata_odb10"

	samplePaths = [
        'OG88':"/scratch/pawsey0812/pmisiun/assemblies/OG88/*.fasta",
	]
}