tower {
    accessToken = "eyJ0aWQiOiA4NjIxfS5jYTE4NDUwOGVmYThjNWJhNmYwYWE5NWEyOGM4ZTI1MTdjNDI3YWRm"
}


process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params.slurm_account = 'pawsey0812'

process {
        
    withName: BUSCO {
        executor = 'slurm'
        clusterOptions = "--account=${params.slurm_account}"
        queue = 'work'
        cpus = 32
        time = '8h'
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/busco:5.5.0.sif'
    }

    withName: BUSCOMP {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/buscomp.sif'
    }

    withName: PARSE_GENES {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/biopython:1.81.sif'
    }

    withName: MAFFT {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/mafft:7.515.sif'
    }

    withName: IQTREE2 {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }

    withName: ASTRAL {
        cpus = 32
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/astral:5.7.8.sif'
    }

    withName: IQTREE2_CONCAT_CONSENSUS {
        cpus = 128
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }

    withName: IQTREE2_COALESCENT_CONSENSUS {
        cpus = 128
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }
}

executor {
      $slurm {
        queueSize = 1000
    }
}

params {
    busco_lineage = "vertebrata_odb10"

	samplePaths = [
        'OG1':"/scratch/pawsey0812/pmisiun/assemblies/OG1/*.fasta",
        'OG2':"/scratch/pawsey0812/pmisiun/assemblies/OG2/*.fasta",
        'OG5':"/scratch/pawsey0812/pmisiun/assemblies/OG5/*.fasta",
        'OG10':"/scratch/pawsey0812/pmisiun/assemblies/OG10/*.fasta",
        'OG12':"/scratch/pawsey0812/pmisiun/assemblies/OG12/*.fasta",
        'OG13':"/scratch/pawsey0812/pmisiun/assemblies/OG13/*.fasta",
        'OG14':"/scratch/pawsey0812/pmisiun/assemblies/OG14/*.fasta",
        'OG15':"/scratch/pawsey0812/pmisiun/assemblies/OG15/*.fasta",
        'OG88':"/scratch/pawsey0812/pmisiun/assemblies/OG88/*.fasta",
        'OG95':"/scratch/pawsey0812/pmisiun/assemblies/OG95/*.fasta",
	]

    sampleBuscoPaths = [
        'OG1':"/scratch/pawsey0812/pmisiun/busco/OG1/run_*",
        'OG2':"/scratch/pawsey0812/pmisiun/busco/OG2/run_*",
        'OG5':"/scratch/pawsey0812/pmisiun/busco/OG5/run_*",
        'OG10':"/scratch/pawsey0812/pmisiun/busco/OG10/run_*",
        'OG12':"/scratch/pawsey0812/pmisiun/busco/OG12/run_*",
        'OG13':"/scratch/pawsey0812/pmisiun/busco/OG13/run_*",
        'OG14':"/scratch/pawsey0812/pmisiun/busco/OG14/run_*",
        'OG15':"/scratch/pawsey0812/pmisiun/busco/OG15/run_*",
        'OG88':"/scratch/pawsey0812/pmisiun/busco/OG88/run_*",
        'OG95':"/scratch/pawsey0812/pmisiun/busco/OG95/run_*"
    ]

    busco_out = "/scratch/pawsey0812/pmisiun/nf_busco"

    buscomp_out = "/scratch/pawsey0812/pmisiun/nf_buscomp"

    parse_genes_out = "/scratch/pawsey0812/pmisiun/nf_parsed_genes"
}
