tower {
    accessToken = "eyJ0aWQiOiA4NjIxfS5jYTE4NDUwOGVmYThjNWJhNmYwYWE5NWEyOGM4ZTI1MTdjNDI3YWRm"
}


//Edit this to specify your input/output files

params {
    busco_lineage = 
    lineage_folder = 

	samplePaths = [
	]

    sampleBuscoPaths = [
    ]

    compleasm_out = 
    buscomp_out = 
    parse_genes_out = 
    mafft_out = 
    iqtree_out = 
    astral_out = 
}



process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params.slurm_account = 'pawsey0812'

process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'work'
    cpus = 1
    time = '1h'

    withName: BUSCO {
        cpus = 32
        time = '8h'
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/busco:5.5.0.sif'
    }

    withName: COMPLEASM {
        cpus = 32
        time = '8h'
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/compleasm.sif'
    }


    withName: PARSE_TABLE {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/bioconda.sif'
    }


    withName: BUSCOMP {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/buscomp.sif'
    }


    withName: PARSE_GENES {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/biopython:1.81.sif'
    }

    withName: MAFFT {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/mafft:7.515.sif'
    }

    withName: IQTREE2 {
        cpus = 1
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }

    withName: ASTRAL {
        cpus = 32
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/astral:5.7.8.sif'
    }

    withName: IQTREE2_CONCAT_CONSENSUS {
        cpus = 128
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }

    withName: IQTREE2_COALESCENT_CONSENSUS {
        cpus = 128
        container = '/scratch/pawsey0812/pmisiun/wgs2tree/containers/iqtree2:2.2.2.6.sif'
    }
}

executor {
      $slurm {
        queueSize = 1000
    }
}
